.summoner-info {
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    width: 100%;
    height: 120px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.summoner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;

}

.summoner-icon-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10%;
}

.summoner-level {
    position: absolute;
    bottom: -10px;
    background-color: #333;
    color: white;
    padding: 2px 8px;
    border-radius: 12px;
    font-size: 14px;
    font-weight: bold;
    margin-right: 20px;
}

.summoner-icon {
    width: 80px;
    height: 80px;
    border-radius: 20%;
    margin-right: 20px;
}

.summoner-details {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.summoner-details h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

.summoner-details .summoner-tag {
    font-size: 18px;
    color: #888;
}

.summoner-details p {
    margin: 5px 0;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.refresh-button {
    width: 120px;
    height: 40px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.refresh-button:hover {
    background-color: #007bff;
}

.refresh-button:disabled {
    background-color: grey;
    cursor: not-allowed;
}

.background {
    background-color: rgb(223, 218, 218);
    width: 80%;
}

.recent-games {

    width: 60%;
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    margin-left: 20%;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.recent-games h2 {
    text-align: center;
    margin-bottom: 10px;
}

.recent-games-summary {
    display: flex;
    justify-content: space-between;
}

.summary-item {
    flex: 1;
    padding: 10px;
    border-right: 1px solid #ddd;
    width: 30px;
}

.summary-item:last-child {
    border-right: none;
}

.summary-item p {
    margin: 5px 0;
}

.champion-icons {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.champion-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.win-background {
    background-color: #82c8f7;
  }
  
  .lose-background {
    background-color: #ffb0c1; 
  }
  
.match-details-small {
    margin-top: 20px;
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    
}

.match-summary-small {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3px;
}

.match-info {
    margin-left: 20px;
    flex: 1;
    text-align: left;
}

.participant-info {
    display: flex;
    align-items: center;
    flex: 2;
    margin-left: -50px;
}

.champion-icon-small {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.participant-stats {
    margin-left: 100px;
    text-align: left;
}

.participant-items {
    display: flex;
    gap: 5px;
    flex: 2;
    margin-left : 50px;
}

.item-icon {
    width: 30px;
    height: 30px;
}

.participant-rank {
    flex: 1;
    text-align: right;
}

.grey-box {
    width: 32px;
    height: 32px;
    background-color: #ccc;
    display: inline-block;
}

.right-panel {
    flex: 1;
    display: flex;
    justify-content: space-around;
}

.team {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left:40px;
    margin-right:40px;
}

.champion-icon-small {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.participant-details,
.participant-summary {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.champion-icon {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.champion-icon-big {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.champion-icon-small {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.summoner-name {
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chart-container {
    margin-top: 20px;
}